<Wix 
    xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="Tag Companion" Manufacturer="Musson Industrial" Version="1.0.0.0" UpgradeCode="92352619-b2b1-4814-b6d0-67d99c06a05f">
    <MajorUpgrade DowngradeErrorMessage="Test" />
    <MediaTemplate EmbedCab="yes" />
    <ui:WixUI
      Id="WixUI_InstallDir"
      InstallDirectory="INSTALLFOLDER"
      />

    <Property Id="ARPPRODUCTICON" Value="favicon.exe" />

    <StandardDirectory Id="ProgramFiles6432Folder">
        <!-- Create a folder within the parent folder given the name -->
        <Directory Id="INSTALLFOLDER" Name="!(bind.Property.Manufacturer)\!(bind.Property.ProductName)" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
        <!-- Create a folder within the parent folder given the name -->
        <Directory Id="STARTFOLDER" Name="!(bind.Property.Manufacturer)\!(bind.Property.ProductName)" />
    </StandardDirectory>



    <ComponentGroup Id="TagCompanionInstall" Directory="INSTALLFOLDER">
      <Component Id="TagCompanion.exe" Guid="9fbfa205-5ee1-4e7c-8f21-a7f1058bcb42">
        <File Id="TagCompanion.exe" Source="TagCompanion.exe" KeyPath="yes" />           
      </Component>
    </ComponentGroup>

    <Icon Id="favicon.exe" SourceFile="images\\favicon.ico" />

    <Feature Id="TagCompanion" Title="Tag Companion" Level="1">
      <ComponentRef Id="TagCompanion.exe"/>
    </Feature>
  </Package>
</Wix>
