<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

     <?define ProductName = "Tag Companion" ?>
     <?define ProductDescription = "Faster and easier Studio5000 tag creation." ?>
     <?define ProductAuthor = "Musson Industrial" ?>

     <?define RegistryKeyPath = "SOFTWARE\MussonIndustrial\TagCompanion" ?>

     <Package Name="$(var.ProductName)"
          Version="$(var.ProductVersion)"
          Manufacturer="$(var.ProductAuthor)"
          UpgradeCode="92352619-b2b1-4814-b6d0-67d99c06a05f"
          InstallerVersion="200"
          Scope="perUser">

          <SummaryInformation Description="Tag Companion" />

          <Launch Condition="Installed OR (VersionNT &gt;= 603) OR (VersionNT &gt;= 602 AND MsiNTProductType &lt;&gt; 1)" Message="This application is only supported on Windows 8.1, Windows Server 2012 R2, or higher." />
          
          <Media Id="1" Cabinet="media1.cab" EmbedCab="yes"/>

          <MajorUpgrade AllowSameVersionUpgrades="yes"
                       DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>
          <Upgrade Id="55ee4718-8961-4711-834a-9de7895416b2">
               <UpgradeVersion Maximum="1.0.0"
                           IncludeMaximum="no"
                           Property="NODE_0X_DETECTED" />
               <UpgradeVersion Minimum="1.0.0"
                           IncludeMinimum="yes"
                           Property="EARLY_IO_DETECTED" />
          </Upgrade>
               
          <Icon Id="favicon.exe" SourceFile="..\\images\\favicon.ico" />
          <Property Id="ARPPRODUCTICON" Value="favicon.exe" />
          <Property Id="ApplicationFolderName" Value="Musson Industrial"/>
          <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
     
          <Feature Id="TagCompanion" Title="Tag Companion" AllowAbsent="no">
               <ComponentRef Id="TagCompanion.exe"/>
               <ComponentRef Id="Settings"/>
               <ComponentRef Id="Hotstrings"/>
               <ComponentRef Id="ImageLogo"/>
               <ComponentRef Id="ImageIcon"/>
          </Feature>
          <Feature Id="Shortcuts" Title="Start Menu Shortcut">
               <ComponentRef Id="TagCompanionStartMenu"/>
          </Feature>
     
     
          <StandardDirectory Id="ProgramFiles6432Folder">
             <Directory Id="INSTALLDIR" Name="!(bind.Property.Manufacturer)\!(bind.Property.ProductName)" />
          </StandardDirectory>

          <StandardDirectory Id="AppDataFolder">
             <Directory Id="TagCompanionDataFolder" Name="!(bind.Property.Manufacturer)\!(bind.Property.ProductName)" />
          </StandardDirectory>
     
          <StandardDirectory Id="ProgramMenuFolder">
             <Directory Id="ApplicationProgramsFolder" Name="!(bind.Property.Manufacturer)" />
          </StandardDirectory>
     
          <DirectoryRef Id="INSTALLDIR">
               <Component Id="TagCompanion.exe">
                    <File Id="TagCompanion.exe" Source="..\\TagCompanion.exe" KeyPath="yes" />
               </Component>
               <Directory Id="ImagesFolder" Name="images">
                    <Component Id="ImageLogo">
                         <File Id="logo.png" KeyPath="yes" Source="..\\images\\logo.png"/>
                    </Component>
                    <Component Id="ImageIcon">
                         <File Id="favicon.ico" KeyPath="yes" Source="..\\images\\favicon.ico"/>
                    </Component>
               </Directory>
           </DirectoryRef>

          <DirectoryRef Id="TagCompanionDataFolder">
               <Component Id="Settings" Guid="fbed7e12-ac5e-4f25-baef-cdb71d26defc">
                    <RegistryValue Root="HKCU"
                         Key="$(var.RegistryKeyPath)\Components"
                         Name="SettingsJson"
                         Type="integer"
                         Value="1"
                         KeyPath="yes"/>
                    <File Id="settings.json" Source="..\\settings.json" />
                    <RemoveFile Id="RemoveSettings" Name="settings.json" On='uninstall' />
               </Component>
               <Component Id="Hotstrings" Guid="3f1f08a9-c6a5-45ca-8f15-0c734a2a5880">
                    <RegistryValue Root="HKCU"
                         Key="$(var.RegistryKeyPath)\Components"
                         Name="HostringsJson"
                         Type="integer"
                         Value="1"
                         KeyPath="yes"/>
                    <File Id="hotstrings.json" Source="..\\hotstrings.json" />
                    <RemoveFile Id="RemoveHotstrings" Name="hotstrings.json" On='uninstall' />
               </Component>
           </DirectoryRef>
     
          <DirectoryRef Id="ApplicationProgramsFolder">
               <Component Id="TagCompanionStartMenu">
                    <!-- RegistryValue needed because every Component must have a KeyPath.
                    Because of ICE43, the Root must be HKCU. -->
                    <RegistryValue Root="HKCU"
                         Key="$(var.RegistryKeyPath)\Components"
                         Name="TagCompanionStartMenuShortcuts"
                         Type="integer"
                         Value="1"
                         KeyPath="yes"/>
                    <Shortcut Id="TagCompanionShortcut"
                         Name="Tag Companion"
                         Target="[INSTALLDIR]TagCompanion.exe"
                         WorkingDirectory="INSTALLDIR"/>
                    <RemoveFolder Id="RemoveStartMenuFolder" On="uninstall"/>
               </Component>
          </DirectoryRef>     

     <UI>
          <ui:WixUI Id="WixUI_InstallDir" />
          <Property Id="WixUI_Mode" Value="FeatureTree"/>
          <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2" />
          <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2" />
     </UI>
     </Package>
</Wix>
